<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.minnan.entry.domain.mapper.TemperatureRecordMapper">

    <!--批量插入-->
    <insert id="insertBatch">
        insert entry_temperature_record (traveler_id, traveler_name, hotel_id, hotel_name, status, create_user_id,
        create_user_name, create_time, update_user_id, update_user_name, update_time)
        values
        <foreach collection="records" item="item" separator=",">
            (#{item.travelerId}, #{item.travelerName}, #{item.hotelId}, #{item.hotelName}, #{item.status},
            #{item.createUserId}, #{item.createUserName}, #{item.createTime}, #{item.updateUserId},
            #{item.updateUserName}, #{item.updateTime})
        </foreach>
    </insert>

    <!--填充表格-->
    <update id="filTemperatureRecord">
        <foreach collection="dtos" item="item" separator=";">
            update entry_temperature_record set status = 'RECORDED',temperature=#{item.temperature},
            temperature_normal = #{item.isNormal},measure_time = #{time}, update_user_id = #{userId},
            update_user_name = #{userName}, update_time = #{time}
            where id = #{item.id}
        </foreach>
    </update>

    <!--获取体温测量记录-->
    <select id="getTemperatureRecordList"
            resultType="site.minnan.entry.domain.vo.temperture.TemperatureRecordVO">
        select t1.id, t1.traveler_id, t1.traveler_name, t1.hotel_id, t1.hotel_name, t1.temperature,
        t1.temperature_normal, t1.measure_time, t1.status, t1.create_user_id, t1.create_user_name,
        t1.create_time, t1.update_user_id, t1.update_user_name, t1.update_time,
        t2.quarantine_start_time quarantineStartTime,
        t2.status travelerStatus
        from entry_temperature_record t1
        left join entry_traveler t2 on t1.traveler_id = t2.id
        where datediff(t1.create_time, #{date}) = 0
        <if test="hotelId != null and hotelId != ''">
            and t1.hotel_id = #{hotelId}
        </if>
        <if test="travelerName != null and travelerName !=''">
            and t1.traveler_name like concat('%', #{travelerName}, '%')
        </if>
        limit #{start}, #{pageSize}
    </select>
</mapper>